---
layout: index
---

<ul class="list-group list-group-flush">
  {% for post in paginator.posts %}
  <li class="list-group-item">
    <a href="{{ post.url }}"><p class="font-weight-bold">{{ post.title }}</p></a>
    <span class="badge badge-primary">{{ post.category }}</span> |
    <span>📅 {{ post.date | date: "%Y-%m-%d" }}</span> |
    {% for tag in post.tags %}
    <span class="badge badge-light">{{ tag }}</span>
    {% endfor %}
    <p class="font-weight-light text-muted font-italic">{{ post.excerpt }}</p>
    
  </li>
  {% endfor %}
</ul>

<nav class="mt-5 mb-5">
  <ul class="pagination">
    {% if paginator.previous_page%}
    <li class="page-item text-nowrap"><a class="page-link" href="{{ paginator.previous_page_path | '/' }}">上一页</a></li>
    {% else %}
    <li class="page-item text-nowrap disabled"><span class="page-link">上一页</span></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        {{ page }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
    {% elsif page == 1 %}
    <li class="page-item"><a class="page-link"
        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">1</a></li>
    {% else %}
    <li class="page-item"><a class="page-link"
        href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
        }}</a></li>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li class="page-item text-nowrap"><a class="page-link" href="{{ paginator.next_page_path }}">下一页</a></li>
    {% else %}
    <li class="page-item text-nowrap disabled"><span class="page-link">下一页</span></li>
    {% endif %}
  </ul>
</nav>

