<footer class="p-5">
    <hr>
    Copyright © <span id="copyright-year"></span> <a href="https://moonlightwatch.com">MoonLightWatch</a>. All rights
    reserved.
</footer>
<section class="back-to-top" onclick='this.scrollIntoView({behavior:"smooth", block:"start"});'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M4.97 12.97a.75.75 0 101.06 1.06L11 9.06v12.19a.75.75 0 001.5 0V9.06l4.97 4.97a.75.75 0 101.06-1.06l-6.25-6.25a.75.75 0 00-1.06 0l-6.25 6.25zM4.75 3.5a.75.75 0 010-1.5h14.5a.75.75 0 010 1.5H4.75z"></path></svg>
</section>
<style>
    .back-to-top {
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 0 2px #333;
        position: fixed;
        right: 20px;
        bottom: 40px;
    }
</style>

<script>
    var date = new Date();
    document.getElementById("copyright-year").innerText = date.getFullYear();
</script>