---
layout: default
---

<h1>{{ page.title }}</h1>

<p>
    <span>📁 {{ page.category }}</span> |
    <span>📅 {{ page.date | date: "%Y-%m-%d" }}</span> |
    {% for tag in page.tags %}
    <span>🔖 {{ tag }} </span>
    {% endfor %}
</p>


<div class="markdown-body">
    {{ content }}

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="text-align: left;">
                    {% if page.previous %}
                    <a href="{{ page.previous.url | '/' }}">上一篇・{{ page.previous.title }}</a>
                    {% endif %}
                </td>
                <td style="text-align: right;">
                    {% if page.next%}
                    <a href="{{ page.next.url | '/' }}">下一篇・{{ page.next.title }}</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>