---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/css/md.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<h1>{{ page.title }}</h1>

<p>
    <span class="badge bg-primary">{{ page.category }}</span> |
    <span>📅 {{ page.date | date: "%Y-%m-%d" }}</span> |
    {% for tag in page.tags %}
    <span class="badge bg-secondary">{{ tag }}</span>
    {% endfor %}
</p>

<div class="m-markdown-body">
    {{ content }}
</div>

<div class="pt-5 pb-5">
    {% if page.previous %}
    <a class="btn btn-outline-primary float-left" href="{{ page.previous.url | '/' }}">上一篇・{{ page.previous.title }}</a>
    {% else %}
    <a class="btn btn-outline-primary float-left disabled">上一篇</a>
    {% endif %}
    {% if page.next%}
    <a class="btn btn-outline-primary float-right" href="{{ page.next.url | '/' }}">下一篇・{{ page.next.title }}</a>
    {% else %}
    <a class="btn btn-outline-primary float-right disabled">下一篇</a>
    {% endif %}
</div>

<div id="gitalk-container"></div>
<script>
    var gitalk = new Gitalk({
        clientID: '{{ site.gitalk.clientID }}',
        clientSecret: '{{ site.gitalk.clientSecrets }}',
        repo: '{{ site.gitalk.repo }}',
        owner: '{{ site.gitalk.owner }}',
        admin: ['{{ site.gitalk.owner }}'],
        id: location.pathname.slice(-50),
        distractionFreeMode: false
    })

    gitalk.render('gitalk-container')
</script>
