---
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/css/md.css">

<h1>{{ page.title }}</h1>

<p>
    <span>📁 {{ page.category }}</span> |
    <span>📅 {{ page.date | date: "%Y-%m-%d" }}</span> |
    {% for tag in page.tags %}
    <span>🔖 {{ tag }} </span>
    {% endfor %}
</p>


<div class="markdown-body">
    {{ content }}

    <div class="post-paginator">
        {% if page.previous %}
        <a href="{{ page.previous.url | '/' }}">上一篇・{{ page.previous.title }}</a>
        {% endif %}
        {% if page.next%}
        <a href="{{ page.next.url | '/' }}">下一篇・{{ page.next.title }}</a>
        {% endif %}
    </div>
</div>